<template>

  <div id="app">

    <header>
      <span>EMSN</span>
    </header>

    <main>
      <h2>Get all awailable recording dates</h2>

      <div v-if="loading">
        <img src="../src/assets/loader.gif"/>
        Loading.....
      </div>

    <button id="btn" class="" v-on:click="getStations">Get Stations</button>

    <div>
      <button id="btn" class="" v-on:click="getDates">Get Dates</button>
      <vue-slider ref="slider" v-model="dateValue" v-data="dates" piecewise=true piecewiseLabel= true></vue-slider>
    </div>

    <div>
      <button id="btn" class="" v-on:click="getFrequencies">Get Frequencies</button>
      <vue-slider ref="slider" v-model="frequencyValue" data=123 piecewise=true piecewiseLabel= true></vue-slider>
    </div>

    <button id="btn" class="" v-on:click="getData">Get Data</button>

    </main>
  </div>
</template>

<script>
import axios     from 'axios';
import vueSlider from 'vue-slider-component';

export default {
  name: 'app',

  data () {
    return {
      dates:       [],
      frequencies: [],
      stations:    [],
      data:        [],
      dateValue: [1,2],
      frequencyValue: [1,2],
      loading: false
    }
  },

  components:{
    vueSlider
  },

  methods: {
    getDates: function () {

      this.loading = true;

      axios({ method:      'get',
              baseURL:     'https://api.emsn.eu/v0',
              url:         '/recording/getTime',
              timeout:      1000 * 120,
              responseType: 'json'})
      .then((response)  =>  {
        this.loading = false;
        this.dates = response.data;
      }, (error)  =>  {
        console.log(error);
        this.loading = false;
      })
    },

    getFrequencies: function () {

      this.loading = true;

      axios({ method:      'get',
              baseURL:     'https://api.emsn.eu/v0',
              url:         '/recording/getFrequency',
              timeout:      1000 * 120,
              responseType: 'json'})
      .then((response)  =>  {
        this.loading = false;
        this.frequencies = response.data;
      }, (error)  =>  {
        console.log(error);
        this.loading = false;
      })
    },

    getStations: function () {

      this.loading = true;

      axios({ method:      'get',
              baseURL:     'https://api.emsn.eu/v0',
              url:         '/recording/getGID',
              timeout:      1000 * 120,
              responseType: 'json'})
      .then((response)  =>  {
        this.loading = false;
        this.stations = response.data;
      }, (error)  =>  {
        console.log(error);
        this.loading = false;
      })
    },

    getData: function () {

      this.loading = true;

      axios({ method:      'get',
              baseURL:     'https://api.emsn.eu/v0',
              url:         '/recording',
              timeout:      1000 * 120,
              responseType: 'json'})
      .then((response)  =>  {
        this.loading = false;
        this.stations = response.data;
      }, (error)  =>  {
        console.log(error);
        this.loading = false;
      })
    }

  },
}
</script>

<style>
  body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}


button {
  background: #51B767;
  color: #ffffff;
  padding: 15px;
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
  border: 0;
}

.cards {
  background: #F5F5F5;
  height:400px;
}
 .cards:hover {
  transform: translateY(-0.5em);
  background: #EBEBEB;
}


.cards {
   column-count: 1;
  column-gap: 1em;
    margin-top: 70px;

}
</style>